body{
    margin: 0.2%;
    padding: 0;
}
#logo{
    background-color:#E0E0E0;
    font-weight: bolder;
    font-size: 2em;
    padding: 1%;
}
#headerNav{
    overflow: hidden;
}
#navbar{
    background-color: #333333;
    padding-top:0.1em;
    padding-bottom: 1em;
}
#nav-link{
    display: inline;
    list-style: none;
}
#nav-link li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}
#nav-link li:hover{
    background-color: #008C22;
}
#nav-link li{
    float: left;
    
    color: white;
    padding: 0.5em;
    border-right:1px white solid;
}

#main{
    margin-left: 2%;
    overflow: hidden;
    clear: both;
}
#content{
    float: left;
    width: 65%;
    text-align: justify;

}
#right-section{
    float:right;
    width: 30%;
    background-color: #E0E0E0;
    padding-top: 1%;
    padding-left:2%;
    padding-right: 2%;
    padding-bottom: 17.5%;
}
#footer{
    text-align: right;
    background-color: #CCCCCC;
    padding:0.7em;
}
.heading-color{
    color:#003D60;
}